*, ::after, ::before {
    margin: 0.0rem;
    padding: 0.0rem;
    box-sizing: border-box;
}

body {
    font-family: 'Courier Prime', monospace;
    background-color: #070707;
    color: #00FF66;
    overflow: hidden;
    scroll-behavior: smooth;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #00FF66;
    padding: 0.0625rem 0.125rem;
    text-decoration: none;
    transition: color 0.25s ease;
}

a:hover {
    color: #070707;
    background-color: #00FF66;
}

button, a, input, textarea {
    cursor: pointer;
    font-family: inherit;
}

/*Media Queries*/
/*2K: 2048 x 1080 pixels; 4K or Ultra HD: 3840 x 2160 pixels*/

html {
  font-size: 16px; /* Default */
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 24px;
  }
}
