/*universal fade-in and wrapper*/
.fade-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;
    margin: 35px 0px;
}


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#00FBFE;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*Home page*/
.title-subtitle-container {
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed none;
    border-width: 4px 0;
    border-color: #00FF66;
    gap: 35px;
    padding: 35px 0px;
}

.title, .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.subtitle {
    gap: 15px;
}

.title h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2.3rem;
    color: #7B4CEB;
    text-shadow: #fff 0px 5px;
}

.subtitle h2 {
    font-family: "VT323", monospace;
    font-weight: normal;
    font-size: 2rem;
    color: #00FBFE;
}

/*Contact page */
.contact-form {
    width: 89%;
  font-family: 'Courier Prime', monospace;
  color: #00FF66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;

}

.label {
  font-weight: bold;
  margin-bottom: 15px;
  color: #00FF66;
  display: inline-block;
}

input,
textarea {
  background: transparent;
  color: #00ffff;
  border: 2px solid #00FF66;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #00FF66;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-family: 'Courier Prime', monospace;
  color: #00ffff;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 1px 2px;
  transition: color 0.25s ease;
}

button:hover {
  color: #070707;
  background-color: #00ffff;
}

/*About page*/
section {
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px #00FF66 dashed;
  border-radius: 2px;
  padding: 20px;
  gap: 10px;
  margin-bottom: 35px;
}

.main-info {
  flex-direction: row;
  gap: 40px;
}

.image-wrapper {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-wrapper img {
  min-width: 130px;
  max-width: 200px;
  border: 2px solid #7B4CEB;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.text-info {
  display: flex;
  gap: 10px;
}

.text-property {
  font-weight: bold;
  color:#00FF66;
}

.my-name {
  font-size: 1.15rem;
  font-weight: bold;
  color:#7B4CEB;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.progress-bars {
  display: flex;
  gap: 5px;
}

.block {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 251, 254, 0.5);
}

.block.filled {
  background-color: rgba(0, 251, 254, 1);
}

.text-subcategory {
  color: #00FF66;
}

.about-ul {
  padding-left: 1.2rem;
  list-style: none;
}


.download-cv {
  width: 89%;
  display: flex;
  gap: 15px;
  color:#00FF66;
}

.download-cv span {
  font-size: 1.15rem;
}

.download-cv button {
  font-family: 'Courier Prime', monospace;
  color: #00ffff;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 1px 2px;
  transition: color 0.25s ease;
}

.download-cv button:hover {
  color: #070707;
  background-color: #00ffff;
}

/* Projects */
.subsection-wrapper {
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.subsection-text {
  width: 100%;
  display: flex;
  gap: 15px;
  color:#00FF66;
}

.subsection {
  font-size: 1.25rem;
}

.button-subsection {
  width: 100%;
  display: flex;
  gap: 10px;
  color:#00FF66;

}

.button-subsection span {
    font-size: 1.25rem;
}

.button-subsection button {
  background: transparent;
  border: none;
  color: #00ffff;
  font-size: 1rem;
  cursor: pointer;
  font: inherit;
  padding: 0;
  transition: opacity 0.25s;
}
.button-subsection button:hover,
.button-subsection button:focus-visible {
  color: #070707;
  background-color: #00ffff;
}