/*universal fade-in and wrapper*/
.fade-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;
    margin: 35px 0px;
}


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*Home page*/
.title-subtitle-container {
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed none;
    border-width: 4px 0;
    border-color: #00FF66;
    gap: 35px;
    padding: 35px 0px;
}

.title, .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.subtitle {
    gap: 15px;
}

.title h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2.3rem;
    color: #7B4CEB;
    text-shadow: #fff 0px 5px;
}

.subtitle h2 {
    font-family: "VT323", monospace;
    font-weight: normal;
    font-size: 2rem;
    color: #00FBFE;
}

/*Contact page */
.contact-form {
    width: 89%;
  font-family: 'Courier Prime', monospace;
  color: #00FF66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;

}

.label {
  font-weight: bold;
  margin-bottom: 15px;
  color: #00FF66;
  display: inline-block;
}

input,
textarea {
  background: transparent;
  color: #00ffff;
  border: 2px solid #00FF66;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #00FF66;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-family: 'Courier Prime', monospace;
  color: #00ffff;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 1px 2px;
  transition: color 0.25s ease;
}

button:hover {
  color: #070707;
  background-color: #00ffff;
}
