/*universal fade-in and wrapper*/
.fade-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;
    margin: 2.1875rem 0.0rem;
}


.wrapper {
    width: 89%;
    display: flex;
    flex-direction: column;
    color:#00FBFE;
    gap: 1.5rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*Home page*/
.title-subtitle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed none;
    border-width: 0.25rem 0;
    border-color: #00FF66;
    gap: 2.1875rem;
    padding: 2.1875rem 0.0rem;
}

.title, .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
}

.subtitle {
    gap: 0.9375rem;
}

.title h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2.3rem;
    color: #7B4CEB;
    text-shadow: #fff 0.0rem 0.3125rem;
}

.subtitle h2 {
    font-family: "VT323", monospace;
    font-weight: normal;
    font-size: 2rem;
    color: #00FBFE;
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 1.7rem;
    text-shadow: #fff 0.0rem 0.2125rem;
  }
  .subtitle h2 {
    font-size: 1.5rem;
  }
}

/*Contact page */
.contact-form {
  width: 100%;
  font-family: 'Courier Prime', monospace;
  color: #00FF66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.1875rem;

}

.label {
  font-weight: bold;
   margin-bottom: 0.9375rem;
  color: #00FF66;
  display: inline-block;
}

input,
textarea {
  background: transparent;
  color: #00ffff;
  border: 0.125rem solid #00FF66;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0.3125rem #00FF66;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

button {
  font-family: 'Courier Prime', monospace;
  color: #00ffff;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 0.0625rem 0.125rem;
  transition: color 0.25s ease;
}

button:hover {
  color: #070707;
  background-color: #00ffff;
}

@media screen and (max-width: 48rem) {
.captchaWrapper {
  width: 100%;
  transform: scale(0.8);
  transform-origin: 0 0;
}
}

@media screen and (min-width: 1920px) {
.captchaWrapper {
  width: 100%;
  transform: scale(1.2);
  transform-origin: 0 0;
}
}

/*About page*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.125rem #00FF66 dashed;
  border-radius: 0.125rem;
  padding: 1.25rem;
  gap: 0.625rem;
  /* margin-bottom: 2.1875rem; */
}

.main-info {
  flex-direction: row;
  gap: 2.5rem;
}

.image-wrapper {
  max-width: 15.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-wrapper img {
  min-width: 8.125rem;
  max-width: 12.5rem;
  border: 0.125rem solid #7B4CEB;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.9375rem;
}

.text-info {
  display: flex;
  gap: 0.625rem;
}

.text-property {
  font-weight: bold;
  color:#00FF66;
}

.my-name {
  font-size: 1.15rem;
  font-weight: bold;
  color:#7B4CEB;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.languages-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.language-wrapper {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.progress-bars {
  display: flex;
  gap: 0.3125rem;
}

.block {
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgba(0, 251, 254, 0.5);
}

.block.filled {
  background-color: rgba(0, 251, 254, 1);
}

.text-subcategory {
  color: #00FF66;
}

.about-ul {
  list-style: none;
}


.download-cv {
  width: 100%;
  display: flex;
  gap: 0.9375rem;
  color:#00FF66;
}

.download-cv span {
  font-size: 1.15rem;
}

.download-cv button {
  font-family: 'Courier Prime', monospace;
  color: #00ffff;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 0.0625rem 0.125rem;
  transition: color 0.25s ease;
}

.download-cv button:hover {
  color: #070707;
  background-color: #00ffff;
}

@media screen and (max-width: 48rem) {
.main-info {
  flex-direction: column;
  align-items: center;
}
}


/* Projects */
.subsection-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
  margin-bottom: 1.5625rem;
}

.subsection-text {
  width: 100%;
  display: flex;
  gap: 0.9375rem;
  color:#00FF66;
}

.subsection {
  font-size: 1.25rem;
}

.button-subsection {
  width: 100%;
  display: flex;
  gap: 0.625rem;
  color:#00FF66;

}

.button-subsection span {
    font-size: 1.25rem;
}

.button-subsection button {
  background: transparent;
  border: none;
  color: #00ffff;
  font-size: 1rem;
  cursor: pointer;
  font: inherit;
  padding: 0;
  transition: opacity 0.25s;
}
.button-subsection button:hover,
.button-subsection button:focus-visible {
  color: #070707;
  background-color: #00ffff;
}

/*2K and bigger*/
@media (min-width: 1920px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: row;      
    justify-content: center;   
    align-items: stretch;
  }
}