.card {
  display: flex;
  flex-direction: row;
  width: 89%;
  border: 2px #00FF66 dashed;
  border-radius: 2px;
  gap: 20px;
  font-family: 'Courier Prime', monospace;
  background-color: transparent;
  color: #00ffff;
}

.title {
  font-weight: bold;
  color: #00FF66;
}

.card.about { background: rgba(0,0,0,0.5); }
.card.services .paragraph { color: #00ffff; }
.card.projects .button-group a {
  color: #00ffff;
  background: transparent;
  text-decoration: none;
}

.terminal-button {
  padding: 2px 5px;
  margin-right: 10px;
  background-color: #00ffff;
  color: #000;
  font-weight: bold;
}

.icon-photo img {
  max-width: 80px;
  height: auto;
}
