.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  border: 0.125rem #00FF66 dashed;
  border-radius: 0.125rem;
  gap: 1.25rem;
  padding: 1.25rem;
  font-family: 'Courier Prime', monospace;
  background-color: transparent;
  color: #00ffff;
  flex: 1 1 100%;
  /* margin-bottom: 2.1875rem; */
}

.icon-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10%;
}

.icon-photo img {
  width: 3.125rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.items-list {
  padding: 0.625rem;
}

.title-card {
  font-weight: bold;
  color: #00FF66;
  display: inline-block;
}

.title-github {
  font-weight: normal;
  color:#00ffff;
  padding: 0.3125rem 0.0rem 1.25rem 0.0rem;
}

.button-group-card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1.875rem;
  padding-top: 1.875rem;
}

.terminal-button-card {
  font-size: 1rem;
  color: #00ffff;
  transition: color 0.25s ease;
}

.terminal-button-card:hover{
  color: #070707;
  background-color: #00ffff;
}

@media screen and (max-width: 48rem) {
  .card {
  flex-direction: column;
  }
}

@media (min-width: 1920px) {
    .card {
    flex: 1 1 calc(50% - 1.5rem);   /* 2 cards */
    max-width: calc(50% - 1.5rem);
  }
}